<ul class="social-medias">
    {% if options.youtube %}
        <li>
            <a href="{{ options.youtube }}" class="youtube">Youtube</a>
        </li>
    {% endif %}
    {% if options.twitter %}
        <li>
            <a href="{{ options.twitter }}" class="twitter">Twitter</a>
        </li>
    {% endif %}
    {% if options.linkedin %}
        <li>
            <a href="{{ options.linkedin }}" class="linkedin">Linkedin</a>
        </li>
    {% endif %}
    {% if options.facebook %}
        <li>
            <a href="{{ options.facebook }}" class="facebook">Facebook</a>
        </li>
    {% endif %}
    {% if options.instagram %}
        <li>
            <a href="{{ options.instagram }}" class="instagram">Instagram</a>
        </li>
    {% endif %}
    {% if options.tripadvisor %}
        <li>
            <a href="{{ options.tripadvisor }}" class="tripadvisor">Tripadvisor</a>
        </li>
    {% endif %}
</ul>