<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <header class="entry-header">
        <div class="content-img">
            <div class="default-img-posts"
                 style="background-image: url('{% if post.default_image and TimberImage(post.default_image).src %}{{ TimberImage(post.default_image).src }}{% else %}{{ assets }}images/no-picture.jpg{% endif %}');">
            </div>
        </div>
        <div class="entry-meta">
            {{ post.date }} / {{ post.category }}
        </div>

    </header>
    <div class="entry-summary">
        <h2 class="entry-title">{{ post.title }}</h2>
        {{ post.content | striptags | slice(0, 70) }} [...]
        <a href="{{ post.link }}" class="button link-post">Lire plus</a>
    </div>
    <footer class="entry-footer">

    </footer>
</article>