<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

    <header class="entry-header">
        <div class="owl-carousel owl-posts">
            {% for img in post.get_field('gallery_posts') %}
                <div class="item">
                    <img src="{{ TimberImage(img.image).src }}" alt="{{ img.alt }}">
                </div>
            {% endfor %}
        </div>
        <div class="entry-meta">
            {{ post.date }} / {{ post.category }}
        </div>

    </header>
    <div class="entry-summary">
        <h2 class="entry-title">{{ post.title }}</h2>
        {{ post.content | striptags | slice(0, 70) }} [...]
        <a href="{{ post.link }}" class="button link-post">Lire plus</a>
    </div>
    <footer class="entry-footer">

    </footer>
</article>