<article class="post-detail post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <header class="entry-header">
        <div class="entry-meta">
            <span>Par</span> {{ post.author.name }} <span> / </span> {{ post.date }} / {{ post.category }}
        </div>

        <div class="owl-carousel owl-posts">
            {% for img in  post.get_field('gallery_posts') %}
                <div class="item" style="background-image: url('{{ TimberImage(img.image).src }}')">
                </div>
            {% endfor %}
        </div>
        <h1 class="article-h1">{{ post.title }}</h1>

    </header>
    <div class="entry-summary">
        {{ post.content }}
    </div>
    <footer class="entry-footer">

    </footer>
</article>