{#
Title: Slider
Description: Permet d'insérer un diaporama de photo dans la page.
Category: Contenu du flexible
Icon: format-gallery
Keywords: gosselink slider
#}

{% set slides = function('get_field', 'field_gk_slider_slider') %}

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="slideshow swiper-container">
            <div class="swiper-wrapper">
                {% for slide in slides %}
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <img src="{{ TimberImage(slide.slider_image).src }}" alt="{{ slide.slider_image.alt }}">
                            {% if slide.slider_show_details == true %}
                                <div class="slide-caption">
                                    {% if slide.slider_title %}
                                        <div class="title">{{ slide.slider_title }}</div>
                                    {% endif %}
                                    {% if slide.slider_description %}
                                        <div class="text">
                                            <p>{{ slide.slider_description }}</p>
                                        </div>
                                    {% endif %}
                                    {% if slide.slider_link %}
                                        <a href="{{ slide.slider_link.url }}" target="{{ slide.slider_link.target }}"
                                           class="btn">
                                            <span class="btn-inner">{{ slide.slider_link.title }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination swiper-pagination-white"></div>

            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </div>
    </div>
</div>
